{% extends 'Back/base.html.twig' %}

{% block title %}AdministrativeArea index{% endblock %}

{% block body %}
    <h1>AdministrativeArea index</h1>
    {{ form_start(filters) }}
    <table class="table">
        <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(administrative_areas, 'ID', 'aa.id') }}
                    {{ form_widget(filters.id) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(administrative_areas, 'Nom', 'aa.name') }}
                    {{ form_widget(filters.name) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(administrative_areas, 'Code', 'aa.code') }}
                    {{ form_widget(filters.code) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(administrative_areas, 'Code parent', 'aa.parentCode') }}
                    {{ form_widget(filters.parentCode) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(administrative_areas, 'Type', 'aa.type') }}
                    {{ form_widget(filters.type) }}
                </th>

                <th class="action-col">
                    <button type="submit">
                        <i class="fas fa-filter"></i>
                    </button>

                    <a href="{{ path('administrative_area_index') }}">
                        <i class="fas fa-times"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for administrative_area in administrative_areas %}
            <tr>
                <td>
                    {{ administrative_area.id }}
                </td>
                <td>
                    {{ administrative_area.name }}
                </td>
                <td>
                    {{ administrative_area.code }}
                </td>
                <td>
                    {{ administrative_area.parentCode }}
                </td>
                <td>
                    {{ administrative_area.type }}
                </td>
                <td class="action-col">
                    <a class="btn btn-primary" href="{{ path('administrative_area_show', {'id': administrative_area.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('administrative_area_edit', {'id': administrative_area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(filters) }}

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(administrative_areas) }}
    </div>

    <a href="{{ path('administrative_area_new') }}">Ajouter</a>
{% endblock %}
