{% extends 'Back/base.html.twig' %}

{% block title %}AdministrativeArea index{% endblock %}

{% block body %}
    <h1>AdministrativeArea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>ParentCode</th>
                <th>Type</th>
                <th>Details</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrative_area in administrative_areas %}
            <tr>
                <td>{{ administrative_area.id }}</td>
                <td>{{ administrative_area.name }}</td>
                <td>{{ administrative_area.code }}</td>
                <td>{{ administrative_area.parentCode }}</td>
                <td>{{ administrative_area.type }}</td>
                <td>{{ administrative_area.details ? administrative_area.details|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('administrative_area_show', {'id': administrative_area.id}) }}">show</a>
                    <a href="{{ path('administrative_area_edit', {'id': administrative_area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administrative_area_new') }}">Ajouter</a>
{% endblock %}
