{% extends 'Back/base.html.twig' %}

{% block title %}LogUser index{% endblock %}

{% block body %}
    <h1>LogUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>TargetEntity</th>
                <th>TargetEntityType</th>
                <th>LogAt</th>
                <th>Action</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log_user in log_users %}
            <tr>
                <td>{{ log_user.id }}</td>
                <td>{{ log_user.user }}</td>
                <td>
{#                    {{ log_user.targetEntity }}#}
                    {% set data = log_user|find_entity() %}

                    {% if data is iterable%}
                        {% if data.targetEntityName is not null %}
                            {{ data.targetEntityName }}
                        {% endif %}
                    {% else %}
                        <strong>
                            {{ data }}
                        </strong>
                    {% endif %}
                </td>
                <td>
                    {{ log_user.targetEntityType }}
                </td>
                <td>{{ log_user.logAt ? log_user.logAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log_user.action }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
