{% extends 'Back/base.html.twig' %}

{% block title %}LogUser index{% endblock %}

{% block body %}
    <h1>LogUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TargetEntity</th>
                <th>TargetEntityType</th>
                <th>LogAt</th>
                <th>Action</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log_user in log_users %}
            <tr>
                <td>{{ log_user.id }}</td>
                <td>{{ log_user.targetEntity }}</td>
                <td>{{ log_user.targetEntityType }}</td>
                <td>{{ log_user.logAt ? log_user.logAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log_user.action }}</td>
                <td>
                    <a href="{{ path('log_user_show', {'id': log_user.id}) }}">show</a>
                    <a href="{{ path('log_user_edit', {'id': log_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('log_user_new') }}">Create new</a>
{% endblock %}
